.yanzhi {
	background-color: #9d2933;
}
.hei{
	background-color: #000000;
}
.ziti-hei{
	color: #000000;
}

.jiangzijiaohong {
	/*绛紫,比较红*/
	background-color: #8c4356
}

.jiangzijiaolan {
	/*酱紫,比较蓝*/
	background-color: #815476;
}

.jijiang {
	background-color: #815463;
}

.ziti-jijiang {
	color: #815463;
}

.xiangyabai {
	background-color: #fffbf0;
}

.ziti-xiangyabai {
	color: #fffbf0;
}

.dailan {
	background-color: #425066;
}

.zhusha {
	/*艳红*/
	background-color: ;
	#ff461f
}

.zhuqing {
	background-color: #789262;
}

.zhanglan {
	background-color: #3b2e7e;
}
.zhanglan {
	color: #3b2e7e;
}
.yingtao {
	background-color: #c93756;
}

.ziti-yingtao {
	color: #c93756;
}
.songbailv{
	background-color: #21a675;
}
.ziti-songbailv{
	color: #21a675;
}
.dai {
	background-color: #4a4266;
}

.wuse {
	background-color: #725e82;
}

.ziti-wuse {
	color: #725e82
}

.shiliuhong {
	background-color: #f20c00;
}

.ziti-shiliuhong {
	color: #f20c00;
}

.huaqing {
	background-color: #003472;
}

.ziti-huaqing {
	color: #003472;
}
.ziti-qingchong{
	color:#0aa344;
	}
	.qingchong{
		background-color: #0aa344;
	}
.chongqing{
	background-color: #0eb83a;
}
.ziti-chongqing{
	color: #0eb83a;
}
.bai{
	background-color: #FFFFFF;
}
.ziti-bai{
	color: #FFFFFF;
}
/*素雅的颜色，偏淡*/
.mose{
	background-color: #50616d;
}
.ziti-mose{
color: ;#50616d
}
.chase{
	background-color: #b35c44;
}
.ziti-chase{
	color:#b35c44;
}